* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  height: 100%;
}

body {
  color: #333;
}

main {
  min-width: 1024px;
  /* 减去footer高度 */
  min-height: calc(100% - 200px);
  /* 留出header高度 */
  padding-top: 80px;
}

a {
  color: inherit;
  text-decoration: none;
}